{% extends 'base.html.twig' %}

{% block title %}Assessment overview{% endblock %}

{% block body %}
<div class="container">
    <h1 class="display-1">Hoi {{ developer.name }}!</h1>
    Your in team <a href="{{ path('app_teams', {'name': developer.team.name}) }}">{{ developer.team.title }}</a>!
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Assessments</th>
                <th scope="col">Progress</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
            <tr>
                <th scope="row"><a href="{{ path('app_assessments_developer', {'source': developer.key, 'target': todo.target}) }}">{{ todo.name }}</a></th>
                <td>
                    Done: {{ todo.current }} out of {{ todo.total }}
                    {% if todo.current == todo.total %}
                        <span class="text-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                            </svg>
                        </span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if next %}
        <div class="d-flex flex-column-reverse">
            <a href="{{ path('app_assessments_developer', {'source': developer.key, 'target': next.id}) }}" class="btn btn-primary">Next!</a>
        </div>
    {% else %}
        <div class="d-flex flex-column-reverse">
            <a href="{{ path('app_assessments_spider', {'key': developer.key}) }}" class="btn btn-primary">See Spider!</a>
        </div>
    {% endif %}
</div>
{% endblock %}
